html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}



body {
  background-color: #E8ECEF;

}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;

}
.navbar-nav  li a:hover {
    color: #1abc9c;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
